<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biodatasaya">

    <!-- Izin yang Dibutuhkan -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- <queries> HARUS LANGSUNG DI DALAM <manifest>, BUKAN DI DALAM <application> -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <application
        android:label="biodatasaya"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Tema Awal -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            
            <!-- Intent untuk Menjalankan Aplikasi -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Tambahkan Konfigurasi Firebase Jika Perlu -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- Konfigurasi Kamera -->
        <meta-data
            android:name="android.hardware.camera"
            android:value="true"/>
    </application>
</manifest>
